<!doctype html>
<html>
<head>
  <title>Your file is being processed</title>
</head>


<script>
let timer;
function check(){
  timer = setInterval(httpPost, 5000);
}


function httpPost(){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "POST", "http://localhost:8080/check"); // false for synchronous request
    //get video id
    let params = new URL(location.href).searchParams;
    let video_id = params.get('video_id');
    let download_p = '{{process_download}}'
    let download_n = '{{process_naming}}'
    
    const datatosend ={
      id: video_id,
      process_id_d : download_p,
      process_id_n : download_n,
    };
    const jsondata = JSON.stringify(datatosend);
    xmlHttp.setRequestHeader( "Content-Type", "application/json" );
    xmlHttp.onload=function(){
      let video_url = xmlHttp.responseText
      if (video_url!=-1){
        timer=null;
        window.location.href = 'http://localhost:8080/classify?video_id='+encodeURIComponent(video_url)

      }
    }
    xmlHttp.send(jsondata);
}
</script>

<body onload="check();">
  <h1>Your video is being downloaded...</h1>
  <h2>You will be redirected as soon as your video finished downloading.</h2>